@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

:root {
  --color-dark: #222;
  --color-dark-pri: #414141;
  --color-white: #fff;
  --color-gray: #9a9a9a;
  --color-gray-pri: #d6d6d6;
  --color-red: #ff0f0f;
  --color-blue: #0096ff;
  --color-blue-light: #abe9fe;
  --color-blue-pri: #0818a8;
  --color-blue-op: rgba(219, 244, 253, 0.494);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  min-height: 100vh;
  width: 100vw;
  color: var(--color-dark);
  background: var(--color-white);
}

a {
  text-decoration: none;
  color: var(--color-dark);
}

ul {
  list-style: none;
}

.btn {
  cursor: pointer;
  color: var(--color-white);
  background: var(--color-blue);
  border: transparent;
  border-radius: 6px;
  padding: 0.375rem 0.75rem;
  transition: all 0.3s;
  text-transform: capitalize;
  display: inline-block;
}
.btn:hover {
  background: var(--color-blue-pri);
}
.btn-hipster {
  color: var(--color-blue);
  background: var(--color-blue-light);
}
.btn-hipster:hover {
  color: var(--color-blue-light);
  background: var(--color-blue);
}
.btn-block {
  width: 100%;
}
.btn-hero {
  font-size: 1.25rem;
  padding: 0.5rem 1.25rem;
}
.btn-danger {
  background: var(--color-red);
  color: var(--color-dark-pri);
}
.btn-danger:hover {
  background: var(--color-red);
  color: var(--color-white);
}

.form-label {
  display: block;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  text-transform: capitalize;
}
.form-input,
.form-textarea,
.form-select {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: 8px;
  background: var(--color-blue-op);
  border: 1px solid var(--color-gray);
  transition: all 0.3s;
}
.form-input:focus,
.form-textarea:focus {
  background: var(--color-white);
  border: none;
  outline: none;
}
.form-input,
.form-select,
.btn-block {
  height: 35px;
}
.form-input.invalid {
  background: var(--color-red);
  color: var(--color-red);
}

.form-row {
  margin-bottom: 1rem;
}

.form-textarea {
  height: 7rem;
}
::placeholder {
  font-family: inherit;
  color: var(--color-dark-pri);
}
.form-alert {
  color: var(--color-red);
  text-transform: capitalize;
}
