.container {
  height: 100vh;
  width: 250px;
  margin-left: 1rem;
  padding-bottom: 2rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.logo {
  display: flex;
  align-items: center;
}
.logo a {
  align-items: center;
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 700;
}

.stats,
.money,
.side {
  margin-top: 2.5rem;
  margin-left: 0.5rem;
  padding-bottom: 1.25rem;
  border-bottom: 2px solid var(--color-gray);
}
.stats h4,
.money h4,
.side h4 {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--color-dark-pri);
  margin-bottom: 1.25rem;
}
.stats a,
.menu a {
  font-size: 1.25rem;
  margin-left: 0.5rem;
  color: var(--color-gray);
  transition: all 0.3s ease-in;
}
.stats a:hover,
.menu:nth-child(1):hover,
.menu:nth-child(2):hover {
  margin-left: 1rem;
  color: var(--color-dark-pri);
}

.menu {
  display: flex;
  align-items: center;
  transition: all 0.3s ease-in;
}
.menu:nth-child(1) {
  margin: 1.5rem 0;
}
.menu svg {
  font-size: 1.25rem;
}
